body{
    height: 1900px;
    margin: 0px;
    background-image: linear-gradient(to bottom, #abf2e9, #92f4d9, #84f4c1, #85f2a0, #93ee7a);
    /* background-image: linear-gradient(to left top, #07e538, #00eb78, #00eea7, #00f0ca, #5df0e3); */
}
.bg img{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.card{
    height: 469px;
    width: 400px;
    background-color: black;
    margin-left: 25px;
    text-align: center;
    padding: 21px;
    
}
.c1{
    position: sticky;
    top:0px;
}

.pic{
    border-radius: 56px;
    height: 75px;
}

h2{
    color:chartreuse;
    margin-top: 0px;
}
p{
    color: cornsilk;
    padding: 0px;
    font-size: 22px;
    margin-top: 0px;
}
h5{
    color:chartreuse;color: chartreuse;
    font-size: 24px;
 
    /* margin-bottom: 0px; */
}
.wrap{
    color: white;
    background-color: chartreuse;
    margin-top: 20px;
    height: 35px;
    width: 210px;
    font-size: 16px;
}
.notice{
    background-color: darkblue;
    height: 16px;
    width: 17px;
    border-radius: 50%;
    margin-left: 170px;
    position: absolute;
    top:0px;
}
.para1{
    color:darkgreen;
    padding-left: 100px;
}
.flex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}